* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #041A40;
  color: #b4d9ef;
  padding: 8px;
  padding-left :16px;
  padding-right :16px;
}

// Styles on classes (see eww.yuck for more information)
.music label{

  color :#c49c40;
}
.sidestuff slider {
  all: unset;
  color: #c49c40;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}
.workspaces button {
  background-color : #b4d9ef;
  padding-left : 16px;
  padding-right : 16px;
  border-radius : 25px;
}
.workspaces button:active{
  color : #041A40;
}
.workspaces button:hover {
  color: #D35D6E;
}
