configuration {
modes :"window,drun,ssh,run,calc";
font : "JetBrainsMono Nerd Font Medium 12";
show-icons : true;
display-drun : "Applications:";
drun-display-format :"{icon} {name}";
markup:true;

  timeout {
      action: "kb-cancel";
      delay:  0; 
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

}

@theme "/dev/null"

*{
bg-alt : rgba(4, 26, 64, 0.1);
bg : #041A40;

fg: #B4D9EF;
fg-alt: #FFFAFA;

background-color:transparent;
border :0;
margin : 0;
spacing :0;
padding:0; 
}
element{
  padding: 8;
  background-color:transparent;
  border-radius:10px;
}
element-text{
  background-color:inherit;
  text-color:@fg-alt;
  highlight : None;
  vertical-align:0.5;
}
element-text.selected.normal{
  background-color: @bg-alt;
  text-color:@fg;
  font-weight:900;
}
element-icon.selected.normal{
  background-color: @bg-alt;
}
imagebox{
background-image :url("~/.config/rofi/cheval2.jpeg",height);
children :[inputbar];
}
mainbox{ 
  children : ["imagebox","listview"];
  orientation:horizontal;
}
element-icon {
  size: 30;
  padding :8;
}
inputbar{
  children:["textbox-prompt-colon","entry"];
  border-radius:10px;
  margin:10px;
}
entry{
  background-color : @bg;
  placeholder:"Search";
  placeholder-color:@fg-alt;
  padding:12;
  text-color: @fg;
}
textbox-prompt-colon{
  enabled:true;
  expand:false;
  str:" ";
  padding: 12 0 0 12;
  text-color : @fg;
  background-color:@bg;
}
window{
  width:45%; 
  border-radius:15px;
  border:2px solid;
  border-color: @fg;
}
listview{
  cursor:"default";
  background-color:@bg;
  dynamic:true;
  fixed-height:true;
  fixed-columns:true;
  spacing:10px;
  enabled:true;
  cycle:true;
  scrollbar:false;
  lines: 8;
  columns:1;
}
